<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Lý</title>
    <link th:href="@{/css/TopNavigation.css}" rel="stylesheet">
</head>
<body>
<nav class="topnav">
    <a href="/management" class="active">TRANG QUẢN LÝ</a>
    <a href="/customer-account-management">TÀI KHOẢN KHÁCH</a>
    <a href="#">SẢN PHẨM</a>
    <a href="#">ĐƠN HÀNG</a>
</nav>
<div>
    WELCOME TO MANAGEMENT PAGE
</div>
</body>
</html>